<nav class="navbar navbar-expand-lg primary-color" style="background-color: black;">

    <div id="main">
      <button class="openbtn" onclick="return openNav()">☰</button>  
    </div>
    <img id="LogoExodusSvg" src="../assets/LogoExodus.svg" alt="">

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="inicio" class="nav-link">Inicio
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contacto">Contacto</a>
        </li>
        <ng-template [ngIf]="esAdmin">
          <li>
            <a class="nav-link" href="listaUsuarios">Usuarios</a>
          </li>
        </ng-template>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

      </ul>
      <!-- Links -->

      <form class="form-inline">
        <div class="md-form my-0">
            <div *ngIf="!logeado" class="sinlogearDiv">
                <a class="nav-link" href="inicioSesion">Iniciar sesion</a>
                <a class="nav-link" href="registro">Registrarse</a>
            </div>
            <div *ngIf="logeado" class="logeadoDiv">
                <p style="color: white;">bienvenido {{nombreUsuario}}</p> 
                <button class="btn" (click)="logout()" style="background-color:transparent; color:#007bff;" >log-out</button>
            </div>
        </div>
      </form>
    </div>
    <!-- Collapsible content -->

  </nav>
 
<router-outlet></router-outlet>
  
  <div id="mySidebar" class="sidebar">
    <ng-template [ngIf]="esAdmin">
      <a>{{nombreUsuario}}</a>
      <hr class="sidebar-line">
    </ng-template>
    <ng-template [ngIf]="!esAdmin">
      <a href="inicioSesion">iniciar sesion</a>
      <hr class="sidebar-line">
    </ng-template>

    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="inicio">Inicio</a>
    <a href="productos">Productos</a>
    <a href="contacto">Contacto</a>
    <ng-template [ngIf]="esAdmin">
        <a class="nav-link" href="listaUsuarios">Usuarios</a>
    </ng-template>
  </div>
  
