#contenedorInfo {
    margin-top: 120px;
}
#contenedorInfoTitulo {
    margin-bottom: 100px;
}
#contenedorInfoTitulo h3 {
    font-size: 50px;
}
.contenedorInfoInformacion * {
    font-size: 20px;
    text-align: justify;
    width: 100%;
}
.Nosotros{
    width: 80%;
}
.contenedorRequisitos{
    width: 100%;
    display: flex;
    justify-content: center;
 
}
.Requisitos{
    width: 80%;
}
.table-format{
    width: 80%;
}
.check{
    width: 20%;
}

/* MEDIA QUERIES -------------------------------------------------------- */

@media screen and (max-width: 900px) {
    .sectionOne *{
        font-size: 10vw;
    }
    #contenedorInfoTitulo{
        margin-bottom: 20px;
    }
    #contenedorInfo {
        margin-top:40px;
    }
    .contenedorInfoInformacion * {
        font-size: 20px;
    }
}