.contenedorFormulario {
    width: 100%;
    display: flex;
    justify-content: center;
}
.contenedorFormularioChild {
    width: 20%;
    display: flex;
    justify-content: center;
}
.contenedorFormularioChild form {
    width:50%;
}
.contenedorTitulo {
    display: flex;
    background-image: url("../../assets/imagenes/Titulos.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 104px;
    justify-content: center;
    align-items: center;
}
.contenedorTitulo h3 {
    font-size: 4vw;
    text-align: center;
    color: white;
}

@media screen and (max-width: 900px){
    .contenedorFormularioChild form {
        width:80%;
    }
    .contenedorTitulo h3 {
        font-size: 4vw;
        
    }
}
@media screen and (max-width: 600px){
    .contenedorFormularioChild form {
        width:100%;
    }
    .contenedorFormularioChild label {
        font-size: 10px;
    }
    .contenedorTitulo h3 {
        font-size: 4vw;
        
    }
}