<div class="container-fluid">
    <div class="row contenedorTitulo">
        <div class="col-md-12">
            <h3>
                Contacto
            </h3>
            <div>
                <hr>
            </div>
        </div>
    </div>
    <div class="row contenedorFormulario">
        <div class="col contenedorFormularioChild">
            <form action = "" method = "POST" role="form">

                <div class="form-group">
                                   <h5 style="color: green;">
                    {{message}}
                </h5>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">
                        Email address
                    </label>
                    <input type="email" name="email" class="form-control" id="email" [(ngModel)]="eldato.email" required />
                </div>
                <label for="descripcion">
                    Descripcion
                </label>
                <div class="form-group">
                    <textarea name="descripcion" class="md-textarea form-control" cols="50" id="descripcion" [(ngModel)]="eldato.descripcion" required ></textarea>
                </div>
                
                <button type="submit" class="btn btn-primary" (click)="enviar(eldato)">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>