<div class="container-fluid">
    <div class="row contenedorTitulo">
        <div class="col-md-12">
            <h3>
                Contacto
            </h3>
            <div>
                <hr>
            </div>
        </div>
    </div>
    <div class="row contenedorFormulario">
        <div class="col contenedorFormularioChild">
            <form role="form">
                <div class="form-group">
                    <label for="exampleInputEmail1">
                        Email address
                    </label>
                    <input type="email" class="form-control" id="exampleInputEmail1" />
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">
                        Password
                    </label>
                    <input type="password" class="form-control" id="exampleInputPassword1" />
                </div>
                <label for="descripcion">
                    Descripcion
                </label>
                <div class="form-group">
                    <textarea name="descripcion" class="md-textarea form-control" cols="50" id="descripcion"></textarea>
                </div>
                
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>