.contenedorInicioSesion {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 400px;
}
.contenedorInicioSesion form {
    width: 50%;
    display: flex;
    justify-content: center;
}
.contenedorInicioSesion table {
    width: 50%;
}
h2 {
    text-align: center;
    margin-top: 10px;
}
.contenedorInicioSesion table td {
    margin-top: 200px;
}

.contenedorTitulo {
    display: flex;
    background-image: url("../../assets/imagenes/Titulos.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 104px;
    justify-content: center;
    align-items: center;
}
.contenedorTitulo h3 {
    font-size: 4vw;
    text-align: center;
    color: white;
}

