.contenedorInicioSesion {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 400px;
}
.contenedorInicioSesion form {
    width: 50%;
    display: flex;
    justify-content: center;
}
.contenedorInicioSesion table {
    width: 50%;
}
h2 {
    text-align: center;
    margin-top: 10px;
}
.contenedorInicioSesion table td {
    margin-top: 200px;
}