<div class="contenedorTitulo">
    <h3>Editar Producto</h3>
</div>
<form (ngSubmit)="salvar(producto)">
    <table>
        <tr>
            <td>-</td>
            <td><p style="color: red;">{{message}}</p></td>
        </tr>
        <tr>
            <td><label for="nombre">Nombre:</label></td>
            <td><input class="form-control" type="text" [(ngModel)]="producto.titulo" name="nombre" /></td>
        </tr>
        <tr>
            <td><label for="descripcion">Descripcion:</label></td>
            <td><input class="form-control" type="text" [(ngModel)]="producto.texto_completo" name="descripcion" /></td>
        </tr>
        <tr>
            <td><label for="valor">Valor:</label></td>
            <td><input class="form-control" type="text" [(ngModel)]="producto.valor" name="valor" /></td>
        </tr>
        <tr>
            <td><label for="referencia">Nombre:</label></td>
            <td>
                <select class="form-control" name="referencia" [(ngModel)]="producto.tags" id="referencia">
                    <option value="Tecnologia">Tecnologia</option>
                    <option value="Baño">Baño</option>
                    <option value="Hogar">Hogar</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="publico">Publico:</label></td>
            <td>
                <select class="form-control" [(ngModel)]="producto.publico" name="publico" id="publico">
                    <option value="true">Si</option>
                    <option value="false">No</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input class="btn btn-primary" type="submit" value="salvar"></td>
        </tr>
    </table>
</form>