<h2>Crear producto</h2>
<div class="contenedorInicioSesion">
    <form class="">
        <table >
            <tr>
                <td><label for="nombre">Nombre</label></td>
            </tr>
            <tr>
                <td><input type="text" name="nombre" class="form-control" id="nombre" [(ngModel)]="producto.nombre" required /></td>
            </tr>
            <tr>
                <td><label for="valor">Valor</label></td>
            </tr>
            <tr>
                <td><input type="text" name="valor" class="form-control" id="valor" [(ngModel)]="producto.valor" required /></td>
            </tr>
            <tr>
                <td><label for="descripcion">Descripcion</label></td>
            </tr>
            <tr>
                <td>
                    <textarea class="form-control" name="descripcion" id="descripcion" cols="30" rows="10"></textarea>
                </td>
            </tr>
            <tr>
                <td><label for="referencia">Referencia</label></td>
            </tr>
            <!-- 
            <tr>
                <td><input type="text" name="referencia" class="form-control" id="nombre" [(ngModel)]="producto.nombre" required /></td>
            </tr>
            -->
            <tr>
                <td><hr></td>
            </tr>
            <tr>
                <td><input type="button" class="form-control" id="enviar" (click)="crearProducto(producto)" value="Crear" required></td>*/
            </tr>
        </table>
    </form>
</div>