<svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1080"><defs><style>.cls-1{fill:#000;stroke-miterlimit:10;}.cls-2{font-size:166.04px;font-family:PassionOne-Bold, Passion One;font-weight:700;}</style></defs><title>Inicio imagen</title><polygon class="cls-1" points="959.5 0.5 -0.5 0.5 -0.5 705.5 959.5 177.5 1919.5 705.5 1919.5 0.5 959.5 0.5"/><polygon class="cls-1" points="1073.35 509.5 960.5 337.27 847.65 509.5 1073.35 509.5"/><polygon class="cls-1" points="847 568.5 960.5 741.73 1074 568.5 847 568.5"/><rect class="cls-1" x="608.5" y="946.5" width="703" height="1"/><text class="cls-2" transform="translate(690.32 928.33)">EXODUS</text></svg>
<svg id="Capa_3" data-name="Capa 3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 17"><title>Linea</title><rect x="104.5" y="5.5" width="1711" height="6"/><path d="M1815,6v5H105V6H1815m1-1H104v7H1816V5Z"/></svg>

<div id="contenedorInfo" class="container-fluid"> <!-- Contenedor de inicio -->
	<div id="contenedorInfoTitulo" class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<h3 class="text-center">
				Que hacemos
			</h3>
			<hr style="background-color: black;">
		</div>
		<div class="col-md-4">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<p>
				Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
			</p>
		</div>
		<div class="col-md-6">
		</div>
	</div>
</div>